body{
font-family: 'Roboto', sans-serif;
}


/*  Строка навигации  */

.logoh {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19px;
    letter-spacing: 0.03em;
    color: #000; 
    text-decoration: none;
    font-size: 26px;
}

.logof {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #fff;
    text-decoration: none;
}

.logocolor {
    color: #2196F3;
}

.textblue {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    color: #2196F3;
}

.textblack {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    color: #212121;
}

.textgrey {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    color: #757575;
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: #2196F3;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
.nodots {
    list-style-type: none;
}

.nounderline {
    text-decoration: none;
}


/*  Серая линия  */

.blackback {
    background-color: #2F303A;
}

.whitetext {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
text-align: center;
color: #FFFFFF;
}


/*  Кнопки  */

.btn {
 font-size: 16px;
 padding: 6px 22px;
}

.buttonA {

    background-color: #2196F3;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.33;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

.buttonAs {

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #2196F3;
    color: #FFFFFF;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    
}

.buttonU {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,62;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: #F5F4FA;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}



/*  Текст в столбиках в мейне  */

.columnblack {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121
}

.columngrey {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575
}


/*  Поле с фото  */

.paragraph {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121
}

.greyback {
    background-color: #F5F4FA;
}

.whitebox {
    background-color: #FFFFFF;
}

.textcentre {
    text-align: center;
}

.biography {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #212121
}

.biography2 {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575
}

/* Поле с фото-техникой */

.frame-text-black {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.frame-text-grey {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}

/*  Нижнее поле  */

.textadress {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF
}

.textinform {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF; 
    opacity: 0.6;
}

address {
    font-style: normal;
}